body {
  background-color: gray;
}
.container {
  text-align: center;
  background-color: white;
  margin: 0 auto;
  width: 50%;
  height: 300px;
  border-radius: 15px;
}

.row {
  display: flex;
  justify-content: center;
  margin-top: 10em;
}
.column {
  color: gray;
  padding-right: 20px;
}
h1 {
}

h1:hover {
  color: red;
  text-decoration: underline;
}

.form-wrapper {
  border: 3px solid blue;
  border-radius: 15px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
input {
  margin-bottom: 12px;
  height: 30px;
  font-size: 14px;
}
.signin-bttn {
  color: green;
}

.signup-bttn {
  border: none;
  border-radius: 15px;
  background-color: #005b96;
  color: white;
  font-size: 18px;
  padding: 15px;
  width: 60%;
}
